@()

@main("GA4GH Server") {

  <h4>Search Variants</h4>
  <form id="searchVariants">
    <label for="variantSetIds">variantSetIds</label>
    <input name="variantSetIds" value='[ "v1", "v6" ]' data-type="array"/>

    <label for="variantName">variantName</label>
    <input name="variantName" value='{"string": "daName"}' data-type="object"/>

    <label for="referenceName">referenceName</label>
    <input name="referenceName" value='bof'/>

    <label for="start">start</label>
    <input name="start" value='10'/>

    <label for="end">end</label>
    <input name="end" value='251'/>

    <label for="pageSize">pageSize</label>
    <input name="pageSize" value='{"int": 10}' data-type="object"/>

    <label for="pageToken">pageToken</label>
    <input name="pageToken" value='{"string": "daToken"}' data-type="object"/>

    <label for="callSetIds">callSetIds</label>
    <input name="callSetIds" value=''/>

    <input type="submit" value="search">
  </form>
  <div id="result">

  <div>

}